#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway="Your Default Gateway" --ip="Your IP Address" --nameserver=8.8.8.8 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=baseimage

# Root password
rootpw --iscrypted $6$h4a3Ze0gutPy4iqS$Hm2t3O4Hj/GVfYxeLTVTbloaG93M5yueONSiOwSttNMQqwqFckEUThTHGqrMSSBOIVU0Y39/Ye5yH6z13ZmfT/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Taipei --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

#%post
## Install SUDO
#/usr/bin/yum -y install sudo
#
## Create vagrant user
#/usr/sbin/useradd -m packer
#/usr/bin/echo packer | /usr/bin/passwd --stdin packer
#
## Add vagrant user to SUDO
#echo "packer        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/packer
#echo "Defaults:packer !requiretty"                 >> /etc/sudoers.d/packer
#chmod 0440 /etc/sudoers.d/packer
#
#%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
reboot
